# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
Frontend/node_modules

# testing
Frontend/coverage

# production
Frontend/build

# misc
Frontend/.DS_Store
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local

Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*

Backend/.idea
Frontend/.idea
Frontend/Frontend.iml
